In [97]:
import pandas as pd
from numpy.random import RandomState
import numpy as np
import matplotlib.pyplot as plt7
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris 
from sklearn import metrics # calculo de acurácia

# Separando o dataset de treinamento do dataset de teste

In [98]:
df = pd.read_csv('covid_Einstein.csv')
rng = RandomState()


#separando o dataframe de testes e o de treinamento

# pega 70% do dataset aleatoriamente
train = df.sample(frac=0.7, random_state=rng)

# Pega os 30% restantes e coloca em testes
test = df.loc[~df.index.isin(train.index)]

train.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos,Exame
50,15,-0.820919,-0.718402,1.282118,-0.935404,-0.456613,-0.666950,-1.140144,positive
111,18,-1.469310,-1.936897,-1.118972,-0.116616,4.533397,-0.666950,0.998070,negative
119,19,-0.459156,-0.391795,-0.307682,-0.082499,1.329285,0.302256,-0.223767,negative
116,6,0.420206,0.638273,1.257534,-0.909817,-0.640455,-0.624811,0.692611,negative
24,19,-1.007366,-1.321369,0.528192,-0.287196,-0.036401,-0.751229,-0.529226,positive

In [99]:
test.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos,Exame
3,19,-1.207727,-1.045009,-0.414215,-0.210435,2.353550,-0.245556,0.387152,positive
7,14,-0.734652,1.756275,0.839596,-0.960991,0.331284,0.091559,1.608988,positive
19,10,-0.990669,0.738768,-0.315877,0.608353,-0.246507,-0.624811,0.387152,positive
20,12,0.275501,0.273981,1.232949,-1.268037,0.646442,-0.709090,0.081693,positive
21,12,-0.662300,-0.529975,0.667504,-0.679533,0.488863,-0.456253,0.081693,positive

# Criando uma árvore de decisão

<text> È preciso separar as variáveis que serão usa para a previsão, dá variável que será prevista. As variaǘeis de previsão são armazenadas no array X e a variável para prever será separada em y </text>

In [100]:
X_train = train.loc[:, df.columns != 'Exame']
X_train.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos
50,15,-0.820919,-0.718402,1.282118,-0.935404,-0.456613,-0.666950,-1.140144
111,18,-1.469310,-1.936897,-1.118972,-0.116616,4.533397,-0.666950,0.998070
119,19,-0.459156,-0.391795,-0.307682,-0.082499,1.329285,0.302256,-0.223767
116,6,0.420206,0.638273,1.257534,-0.909817,-0.640455,-0.624811,0.692611
24,19,-1.007366,-1.321369,0.528192,-0.287196,-0.036401,-0.751229,-0.529226

In [101]:
y_train = train['Exame']
y_train.head()

50     positive
111    negative
119    negative
116    negative
24     positive
Name: Exame, dtype: object

In [102]:
tree = DecisionTreeClassifier(max_depth = 4, criterion='gini', random_state=0)
tree.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

# Previsão
<text>Criada a árvore de decisão, agora faz-se a previsão com base no dataset que foi separado como teste </text>

In [103]:
X_test = test.loc[:, df.columns != 'Exame']
X_test.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos
3,19,-1.207727,-1.045009,-0.414215,-0.210435,2.353550,-0.245556,0.387152
7,14,-0.734652,1.756275,0.839596,-0.960991,0.331284,0.091559,1.608988
19,10,-0.990669,0.738768,-0.315877,0.608353,-0.246507,-0.624811,0.387152
20,12,0.275501,0.273981,1.232949,-1.268037,0.646442,-0.709090,0.081693
21,12,-0.662300,-0.529975,0.667504,-0.679533,0.488863,-0.456253,0.081693

In [104]:
y_test = test['Exame']
y_test.head()

3     positive
7     positive
19    positive
20    positive
21    positive
Name: Exame, dtype: object

In [105]:
y_pred = tree.predict(X_test)

In [106]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7222222222222222