In [24]:
import pandas as pd
from numpy.random import RandomState
import numpy as np
import matplotlib.pyplot as plt7
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris

# Separando o dataset de treinamento do dataset de teste

In [19]:
df = pd.read_csv('covid_Einstein.csv')
rng = RandomState()


#separando o dataframe de testes e o de treinamento

train = df.sample(frac=0.7, random_state=rng)
test = df.loc[~df.index.isin(train.index)]

train.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos,Exame
4,17,-0.745784,-0.127997,-0.045447,-0.039854,0.935337,-0.751229,0.692611,positive
6,13,-0.614992,-0.190806,-1.250089,1.162741,0.751495,-0.161278,0.387152,positive
8,19,-0.406283,-1.635414,-0.004473,0.292779,-0.141454,-0.709090,-0.529226,positive
12,10,-0.528726,-0.178244,0.159424,0.113669,-0.088928,-0.751229,-0.529226,positive
16,19,-0.898837,-0.894267,0.388879,-0.346900,0.593916,-0.835508,0.081693,positive

In [20]:
test.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos,Exame
4,17,-0.745784,-0.127997,-0.045447,-0.039854,0.935337,-0.751229,0.692611,positive
6,13,-0.614992,-0.190806,-1.250089,1.162741,0.751495,-0.161278,0.387152,positive
8,19,-0.406283,-1.635414,-0.004473,0.292779,-0.141454,-0.709090,-0.529226,positive
12,10,-0.528726,-0.178244,0.159424,0.113669,-0.088928,-0.751229,-0.529226,positive
16,19,-0.898837,-0.894267,0.388879,-0.346900,0.593916,-0.835508,0.081693,positive

# Criando uma árvore de decisão

<text> È preciso separar as variáveis que serão usa para a previsão, dá variável que será prevista. As variaǘeis de previsão são armazenadas no array X e a variável para prever será separada em y </text>

In [35]:
X = train.loc[:, df.columns != 'Exame']
X.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos
92,8,-0.075131,0.035307,1.470599,-0.781881,-1.717247,-0.498393,-0.223767
2,14,-0.968407,-0.027502,-0.315877,-0.099557,1.513128,0.175837,-0.529226
116,6,0.420206,0.638273,1.257534,-0.909817,-0.640455,-0.624811,0.692611
93,18,-0.893272,0.361914,-2.872669,2.459156,1.907076,-0.203417,0.081693
105,17,-0.759698,1.366858,-0.635476,0.616882,-0.036401,0.512953,1.303529

In [39]:
y = train['Exame']
y.head()

92     negative
2      positive
116    negative
93     negative
105    negative
Name: Exame, dtype: object

In [42]:
tree = DecisionTreeClassifier(max_depth = 4, criterion='gini', random_state=0)
tree.fit(X,y)

DecisionTreeClassifier(max_depth=4, random_state=0)

# Previsão
<text>Criada a árvore de decisão, agora faz-se a previsão com base no dataset que foi separado como teste </text>

In [44]:
sample_data = test.loc[:, df.columns != 'Exame']
sample_data.head()

,Idade_hst,Leucocitos,Plaquetas,Neutrofilos,Linfocitos,Monocitos,Eosinofilos,Basofilos
4,17,-0.745784,-0.127997,-0.045447,-0.039854,0.935337,-0.751229,0.692611
6,13,-0.614992,-0.190806,-1.250089,1.162741,0.751495,-0.161278,0.387152
8,19,-0.406283,-1.635414,-0.004473,0.292779,-0.141454,-0.709090,-0.529226
12,10,-0.528726,-0.178244,0.159424,0.113669,-0.088928,-0.751229,-0.529226
16,19,-0.898837,-0.894267,0.388879,-0.346900,0.593916,-0.835508,0.081693

In [ ]:
tree.predict